# Исследование алгоритмов

### Проверка и установка рабочей директории, должен быть корень проекта

In [1]:
%pwd

'C:\\Users\\Kuroha\\source\\repos_py\\bauman_final_project\\notebooks'

In [2]:
%cd ..

C:\Users\Kuroha\source\repos_py\bauman_final_project

### Загрузка датасета

In [3]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

from src.utils import *

In [4]:
path = get_filepath(DATA_PROCESSED_TRAIN, is_raw=False)
df = pd.read_csv(path, parse_dates=['date'])

In [5]:
df.head().T

,0,1,2,3,4
date,2008-01-01 00:00:00,2008-01-02 00:00:00,2008-01-03 00:00:00,2008-01-04 00:00:00,2008-01-05 00:00:00
latitude,0.312439,0.312439,0.312439,0.312439,0.312439
longitude,0.699807,0.699807,0.699807,0.699807,0.699807
temperature,0.438202,0.314607,0.146067,0.168539,0.325843
pressure,0.414474,0.519737,0.546053,0.546053,0.361842
cloud,1.0,0.0,0.0,0.666667,1.0
wind_spd,0.333333,0.166667,0.0,0.0,0.666667
is_fallback_data,1,1,1,1,1
water_level,138.0,138.0,138.0,138.0,138.0
uid_0,1.0,1.0,1.0,1.0,1.0
uid_1,0.0,0.0,0.0,0.0,0.0
uid_2,0.0,0.0,0.0,0.0,0.0
uid_3,0.0,0.0,0.0,0.0,0.0
uid_4,0.0,0.0,0.0,0.0,0.0
uid_5,0.0,0.0,0.0,0.0,0.0
uid_6,0.0,0.0,0.0,0.0,0.0
uid_7,0.0,0.0,0.0,0.0,0.0
uid_8,0.0,0.0,0.0,0.0,0.0
uid_9,0.0,0.0,0.0,0.0,0.0
uid_10,0.0,0.0,0.0,0.0,0.0
uid_11,0.0,0.0,0.0,0.0,0.0
uid_12,0.0,0.0,0.0,0.0,0.0
uid_13,0.0,0.0,0.0,0.0,0.0
uid_14,0.0,0.0,0.0,0.0,0.0
year,0.0,0.0,0.0,0.0,0.0
day_sin,0.017166,0.034328,0.051479,0.068615,0.085731
day_cos,0.999853,0.999411,0.998674,0.997643,0.996318
weather_v1_precip,0,0,0,0,1
weather_v2_rain,0,0,0,0,0
weather_snow,0,0,0,0,1
weather_v3_rain,0,0,0,0,0
weather_v3_storm,0,0,0,0,0
north,0,0,0,0,0
south,0,0,0,0,1
west,1,1,0,0,1
east,0,0,0,0,0
pressure_upper,0,0,0,0,0
pressure_lower,0,0,0,0,0
wind_spd_upper,0,0,0,0,0

### Подготовка данных

Необходимо проверить, зависит ли качество моделей от способа кодирования погоды: одной колонкой с наличием осадков, двумя - дождь и снег, либо тремя - дождь, гроза и снег.

Датасеты с разные вариантами кодирования погоды будут именоваться как **v1**, **v2**, **v3**.

In [6]:
df.columns

Index(['date', 'latitude', 'longitude', 'temperature', 'pressure', 'cloud',
       'wind_spd', 'is_fallback_data', 'water_level', 'uid_0', 'uid_1',
       'uid_2', 'uid_3', 'uid_4', 'uid_5', 'uid_6', 'uid_7', 'uid_8', 'uid_9',
       'uid_10', 'uid_11', 'uid_12', 'uid_13', 'uid_14', 'year', 'day_sin',
       'day_cos', 'weather_v1_precip', 'weather_v2_rain', 'weather_snow',
       'weather_v3_rain', 'weather_v3_storm', 'north', 'south', 'west', 'east',
       'pressure_upper', 'pressure_lower', 'wind_spd_upper'],
      dtype='object')

Для обучения модели используем данные за 2008-2016 года, а для тестирования - за 2017.

In [7]:
df_X_train = df.loc[(df['date'] < '2017-01-01')]
df_X_test = df.loc[(df['date'] >= '2017-01-01')]
y_train = df_X_train['water_level']
y_test = df_X_test['water_level']

print(f'''Размерность оригинального датасета: {df.shape}
Размерность тренировочного датасета: {df_X_train.shape}
Размерность тестового датасета: {df_X_test.shape}
Размер тестовой выборки: {df_X_test.shape[0] / df_X_train.shape[0] * 100:.2f}%''')

Размерность оригинального датасета: (71159, 39)
Размерность тренировочного датасета: (61535, 39)
Размерность тестового датасета: (9624, 39)
Размер тестовой выборки: 15.64%

In [8]:
def get_all_df(input_df):
    df_all_base = input_df.drop(['date', 'water_level'], axis=1)
    df_all_v1 = df_all_base.drop(['weather_v2_rain', 'weather_snow', 'weather_v3_rain', 'weather_v3_storm'], axis=1)
    df_all_v2 = df_all_base.drop(['weather_v1_precip', 'weather_v3_rain', 'weather_v3_storm'], axis=1)
    df_all_v3 = df_all_base.drop(['weather_v1_precip', 'weather_v2_rain'], axis=1)
    return [df_all_v1, df_all_v2, df_all_v3]

df_X_train_all = get_all_df(df_X_train)
df_X_test_all = get_all_df(df_X_test)

### Применение алгоритмов машинного обучения

Для оценки качества моделей будут использованы 2 меры качества: средняя квадратичная ошибка (MSE) и коэффициент детерминации ($R^2$).

In [9]:
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import r2_score

results = {}  # словарь с сохранёнными метриками

In [10]:
def add_result(predict, model_name):
    mae_result = round(mae(y_test, predict), 3)
    r2_score_result = round(r2_score(y_test, predict), 3)
    #mae_result = round(mae(y_test, predict), 3)
    #r2_score_result = round(r2_score(y_test, predict), 3)
    print(model_name)
    print(f'MAE: {mae_result}')
    print(f'R2_score: {r2_score_result}')
    print('=' * 20)
    
    results[model_name] = {'MAE': mae_result, 'R2_score': r2_score_result}

In [11]:
# Применение алгоритма ко всем вариациям датасета
# с последующим вычислением качества
def apply_to_all(algo, model_name):
    for i in range(len(df_X_train_all)):
        predict = algo(df_X_train_all[i], df_X_test_all[i])
        add_result(predict, f'{model_name} (df_v{i+1})')

#### 1. Заглушка

Представим, что модель всегда возвращает средний уровень воды. Полученные ошибки будут использованы для оценки качества реальных моделей.

In [12]:
y_predicted = pd.Series([y_train.mean()] * y_test.shape[0])
y_predicted

0       266.42995
1       266.42995
2       266.42995
3       266.42995
4       266.42995
          ...
9619    266.42995
9620    266.42995
9621    266.42995
9622    266.42995
9623    266.42995
Length: 9624, dtype: float64

In [14]:
add_result(y_predicted, 'Mean')

Mean
MAE: 153.267
R2_score: -0.014
====================

#### 2. Линейная регрессия

In [15]:
from sklearn.linear_model import LinearRegression 

def linear_regression(X_train, X_test):
    linear_regression = LinearRegression()
    linear_regression.fit(X_train, y_train)
    
    y_predict = linear_regression.predict(X_test)
    
    return y_predict

In [16]:
apply_to_all(linear_regression, 'Linear Regression')

Linear Regression (df_v1)
MAE: 109.123
R2_score: 0.412
====================
Linear Regression (df_v2)
MAE: 109.105
R2_score: 0.412
====================
Linear Regression (df_v3)
MAE: 109.104
R2_score: 0.412
====================

In [17]:
pd.DataFrame.from_dict(results, orient='index')

                               MAE  R2_score
Mean                       153.267    -0.014
Linear Regression (df_v1)  109.123     0.412
Linear Regression (df_v2)  109.105     0.412
Linear Regression (df_v3)  109.104     0.412

#### 3. Случайный лес

In [18]:
from sklearn.ensemble import RandomForestClassifier

def random_forest(X_train, X_test):
    random_forest = RandomForestClassifier(max_depth=10)
    random_forest.fit(X_train, y_train)
    
    y_predict = random_forest.predict(X_test)
    
    return y_predict

In [19]:
apply_to_all(random_forest, 'Random Forest')

Random Forest (df_v1)
MAE: 87.328
R2_score: 0.188
====================
Random Forest (df_v2)
MAE: 88.102
R2_score: 0.174
====================
Random Forest (df_v3)
MAE: 85.944
R2_score: 0.201
====================

#### 4. Дерево решений

In [20]:
from sklearn.tree import DecisionTreeRegressor

def decision_tree(X_train, X_test):
    decision_tree = DecisionTreeRegressor()
    decision_tree.fit(X_train, y_train)
    
    y_predict = decision_tree.predict(X_test)
    
    return y_predict

In [21]:
apply_to_all(decision_tree, 'Decision Tree')

Decision Tree (df_v1)
MAE: 70.559
R2_score: 0.591
====================
Decision Tree (df_v2)
MAE: 70.618
R2_score: 0.586
====================
Decision Tree (df_v3)
MAE: 70.469
R2_score: 0.59
====================